################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WritingPadV2/.vs/WritingPadV2/v16
/WritingPadV2/obj
